.banner {
  background: #201f26;
  padding: 80px 24px 88px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .banner {
    padding: 48px 24px 80px;
  }
}

.banner .half-circle {
  position: absolute;
}

@media only screen and (max-width: 1085px) {
  .banner .half-circle {
    width: 48px;
    height: 48px;
  }
}

.banner .half-circle-top {
  top: 120px;
  left: 0;
}

@media only screen and (max-width: 1085px) {
  .banner .half-circle-top {
    top: 0;
  }
}

.banner .half-circle-bottom {
  bottom: 0;
  right: 0;
}

.banner > div {
  max-width: 842px;
}

.banner-headlines {
  margin-bottom: 40px;
  text-align: center;
}

@media only screen and (max-width: 480px) {
  .banner-headlines {
    margin-bottom: 30px;
  }
}

.banner-headlines .title {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}

@media only screen and (max-width: 480px) {
  .banner-headlines .title {
    margin-bottom: 30px;
  }
}

.banner-headlines .subtitle {
  font-size: 18px;
  line-height: 1.5;
}

.banner-btns {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  -moz-column-gap: 10px;
  column-gap: 10px;
  row-gap: 16px;
  margin-bottom: 48px;
}

.banner-btns__item {
  padding-left: 40px;
  padding-right: 40px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1;
  color: #fff;
  border-radius: 5px;
  transition: all 0.33s ease;
}

.banner-btns #signFree {
  padding-top: 18px;
  padding-bottom: 18px;
  background: #7357eb;
}

.banner-btns #signFree:hover {
  background-color: #6649e0;
}

.banner-btns #requestDemo {
  padding-top: 17px;
  padding-bottom: 17px;
  border: 1px solid #fff;
}

.banner-btns #requestDemo:hover {
  color: #201f26;
  background-color: #fff;
  border-color: #fff;
}

.banner-question {
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}

@media only screen and (max-width: 480px) {
  .tools.container-1280,
  .one-review.container-1280 {
    padding: 0;
  }
}

@media only screen and (max-width: 480px) {
  .section-integration .container-1280 {
    padding: 0;
  }
}

html[lang="en"]
  .tools
  .tools-bottom
  .tools-bottom__item:nth-child(-n + 3)
  .tools-bottom__item-info {
  margin-bottom: 40px;
}

html[lang="en"]
  .tools
  .tools-bottom
  .tools-bottom__item:nth-child(-n + 3)
  .tools-bottom__item-link {
  margin-top: initial;
}

@media only screen and (max-width: 1120px) {
  html[lang="en"]
    .tools
    .tools-bottom
    .tools-bottom__item:nth-child(-n + 3)
    .tools-bottom__item-link {
    margin-top: auto;
  }
}

@media only screen and (min-width: 730px) and (max-width: 982px) {
  html[lang="en"] .tools .tools-bottom .tools-bottom__item .subtitle {
    min-height: 72px;
  }
}

@media only screen and (min-width: 730px) and (max-width: 1026px) {
  html[lang="en"]
    .tools
    .tools-bottom
    .tools-bottom__item:nth-child(3)
    .subtitle,
  html[lang="en"]
    .tools
    .tools-bottom
    .tools-bottom__item:nth-child(4)
    .subtitle {
    min-height: 72px;
  }
}

@media only screen and (min-width: 730px) and (max-width: 738px) {
  html[lang="en"]
    .tools
    .tools-bottom
    .tools-bottom__item:nth-child(3)
    .subtitle,
  html[lang="en"]
    .tools
    .tools-bottom
    .tools-bottom__item:nth-child(4)
    .subtitle {
    min-height: 96px;
  }
}

@media only screen and (min-width: 821px) and (max-width: 826px) {
  html[lang="en"]
    .tools
    .tools-bottom
    .tools-bottom__item:last-child
    .tools-bottom__item-headlines
    .title,
  html[lang="en"]
    .tools
    .tools-bottom
    .tools-bottom__item:nth-last-child(2)
    .tools-bottom__item-headlines
    .title {
    min-height: 60px;
  }
}

@media only screen and (min-width: 730px) and (max-width: 745px) {
  html[lang="en"]
    .tools
    .tools-bottom
    .tools-bottom__item:last-child
    .tools-bottom__item-headlines
    .title,
  html[lang="en"]
    .tools
    .tools-bottom
    .tools-bottom__item:nth-last-child(2)
    .tools-bottom__item-headlines
    .title {
    min-height: 60px;
  }
}

html[lang="pt"]
  .tools
  .tools-bottom
  .tools-bottom__item:nth-child(-n + 3)
  .tools-bottom__item-info {
  margin-bottom: 40px;
}

@media only screen and (min-width: 1121px) {
  html[lang="pt"] .tools .tools-bottom .tools-bottom__item .title {
    min-height: 60px;
  }
}

@media only screen and (min-width: 1121px) {
  html[lang="pt"] .tools .tools-bottom .tools-bottom__item .subtitle {
    min-height: 96px;
  }
}

@media only screen and (min-width: 730px) and (max-width: 909px) {
  html[lang="pt"] .tools .tools-bottom .tools-bottom__item:nth-child(1) .title,
  html[lang="pt"] .tools .tools-bottom .tools-bottom__item:nth-child(2) .title {
    min-height: 60px;
  }
}

@media only screen and (min-width: 730px) and (max-width: 1112px) {
  html[lang="pt"]
    .tools
    .tools-bottom
    .tools-bottom__item:nth-child(1)
    .subtitle,
  html[lang="pt"]
    .tools
    .tools-bottom
    .tools-bottom__item:nth-child(2)
    .subtitle {
    min-height: 72px;
  }
}

@media only screen and (min-width: 730px) and (max-width: 888px) {
  html[lang="pt"]
    .tools
    .tools-bottom
    .tools-bottom__item:nth-child(1)
    .subtitle,
  html[lang="pt"]
    .tools
    .tools-bottom
    .tools-bottom__item:nth-child(2)
    .subtitle {
    min-height: 96px;
  }
}

@media only screen and (min-width: 730px) and (max-width: 977px) {
  html[lang="pt"]
    .tools
    .tools-bottom
    .tools-bottom__item:nth-child(3)
    .subtitle,
  html[lang="pt"]
    .tools
    .tools-bottom
    .tools-bottom__item:nth-child(4)
    .subtitle {
    min-height: 96px;
  }
}

@media only screen and (min-width: 730px) and (max-width: 838px) {
  html[lang="pt"]
    .tools
    .tools-bottom
    .tools-bottom__item:nth-child(3)
    .subtitle,
  html[lang="pt"]
    .tools
    .tools-bottom
    .tools-bottom__item:nth-child(4)
    .subtitle {
    min-height: 120px;
  }
}

@media only screen and (min-width: 730px) and (max-width: 992px) {
  html[lang="pt"] .tools .tools-bottom .tools-bottom__item:last-child .title,
  html[lang="pt"]
    .tools
    .tools-bottom
    .tools-bottom__item:nth-last-child(2)
    .title {
    min-height: 60px;
  }
}

@media only screen and (min-width: 730px) and (max-width: 1120px) {
  html[lang="pt"] .tools .tools-bottom .tools-bottom__item:last-child .subtitle,
  html[lang="pt"]
    .tools
    .tools-bottom
    .tools-bottom__item:nth-last-child(2)
    .subtitle {
    min-height: 72px;
  }
}

html[lang="uk"]
  .tools
  .tools-bottom
  .tools-bottom__item:nth-child(-n + 3)
  .tools-bottom__item-info {
  margin-bottom: 40px;
}

@media only screen and (min-width: 1260px) and (max-width: 1264px) {
  html[lang="uk"]
    .tools
    .tools-bottom
    .tools-bottom__item:nth-child(1)
    .subtitle,
  html[lang="uk"]
    .tools
    .tools-bottom
    .tools-bottom__item:nth-child(2)
    .subtitle,
  html[lang="uk"]
    .tools
    .tools-bottom
    .tools-bottom__item:nth-child(3)
    .subtitle {
    min-height: 120px;
  }
}

@media only screen and (min-width: 730px) {
  html[lang="uk"] .tools .tools-bottom .tools-bottom__item:last-child .title,
  html[lang="uk"]
    .tools
    .tools-bottom
    .tools-bottom__item:nth-last-child(2)
    .title,
  html[lang="uk"]
    .tools
    .tools-bottom
    .tools-bottom__item:nth-last-child(3)
    .title {
    min-height: 60px;
  }
}

@media only screen and (min-width: 731px) and (max-width: 1260px) {
  html[lang="uk"] .tools .tools-bottom .tools-bottom__item:last-child .subtitle,
  html[lang="uk"]
    .tools
    .tools-bottom
    .tools-bottom__item:nth-last-child(2)
    .subtitle,
  html[lang="uk"]
    .tools
    .tools-bottom
    .tools-bottom__item:nth-last-child(3)
    .subtitle {
    min-height: 72px;
  }
}

html[lang="zh"]
  .tools
  .tools-bottom
  .tools-bottom__item
  .tools-bottom__item-info {
  margin-bottom: 40px;
}

@media only screen and (min-width: 1120px) {
  html[lang="zh"] .tools .tools-bottom .tools-bottom__item:last-child .subtitle,
  html[lang="zh"]
    .tools
    .tools-bottom
    .tools-bottom__item:nth-last-child(2)
    .subtitle,
  html[lang="zh"]
    .tools
    .tools-bottom
    .tools-bottom__item:nth-last-child(3)
    .subtitle {
    min-height: 72px;
  }
}

html[lang="zh"] .integration-box__about-title {
  line-height: 1.4;
  max-width: 400px;
}

@media only screen and (max-width: 1010px) {
  html[lang="zh"] .integration-box__about-title {
    line-height: 1.2;
    max-width: initial;
  }
}

html[lang="es"] .tools .tools-bottom .tools-bottom__item:nth-child(1) .subtitle,
html[lang="es"] .tools .tools-bottom .tools-bottom__item:nth-child(2) .subtitle,
html[lang="es"]
  .tools
  .tools-bottom
  .tools-bottom__item:nth-child(3)
  .subtitle {
  min-height: 96px;
}

@media only screen and (max-width: 1120px) {
  html[lang="es"]
    .tools
    .tools-bottom
    .tools-bottom__item:nth-child(1)
    .subtitle,
  html[lang="es"]
    .tools
    .tools-bottom
    .tools-bottom__item:nth-child(2)
    .subtitle,
  html[lang="es"]
    .tools
    .tools-bottom
    .tools-bottom__item:nth-child(3)
    .subtitle {
    min-height: 72px;
  }
}

html[lang="es"] .tools .tools-bottom .tools-bottom__item:last-child .title,
html[lang="es"]
  .tools
  .tools-bottom
  .tools-bottom__item:nth-last-child(2)
  .title,
html[lang="es"]
  .tools
  .tools-bottom
  .tools-bottom__item:nth-last-child(3)
  .title {
  min-height: 60px;
}

@media only screen and (max-width: 1120px) {
  html[lang="es"] .tools .tools-bottom .tools-bottom__item:last-child .title,
  html[lang="es"]
    .tools
    .tools-bottom
    .tools-bottom__item:nth-last-child(2)
    .title,
  html[lang="es"]
    .tools
    .tools-bottom
    .tools-bottom__item:nth-last-child(3)
    .title {
    min-height: initial;
  }
}

html[lang="es"] .tools .tools-bottom .tools-bottom__item:last-child .subtitle,
html[lang="es"]
  .tools
  .tools-bottom
  .tools-bottom__item:nth-last-child(2)
  .subtitle,
html[lang="es"]
  .tools
  .tools-bottom
  .tools-bottom__item:nth-last-child(3)
  .subtitle {
  min-height: 120px;
}

@media only screen and (max-width: 1120px) {
  html[lang="es"] .tools .tools-bottom .tools-bottom__item:last-child .subtitle,
  html[lang="es"]
    .tools
    .tools-bottom
    .tools-bottom__item:nth-last-child(2)
    .subtitle,
  html[lang="es"]
    .tools
    .tools-bottom
    .tools-bottom__item:nth-last-child(3)
    .subtitle {
    min-height: 72px;
  }
}

@media only screen and (max-width: 1080px) {
  html[lang="es"]
    .tools
    .tools-bottom
    .tools-bottom__item:nth-child(3)
    .subtitle,
  html[lang="es"]
    .tools
    .tools-bottom
    .tools-bottom__item:nth-child(4)
    .subtitle {
    min-height: 96px;
  }
}

@media only screen and (max-width: 904px) {
  html[lang="es"]
    .tools
    .tools-bottom
    .tools-bottom__item:nth-child(3)
    .subtitle,
  html[lang="es"]
    .tools
    .tools-bottom
    .tools-bottom__item:nth-child(4)
    .subtitle {
    min-height: 120px;
  }
}

@media only screen and (max-width: 918px) {
  html[lang="es"] .tools .tools-bottom .tools-bottom__item:nth-child(5) .title,
  html[lang="es"] .tools .tools-bottom .tools-bottom__item:nth-child(6) .title {
    min-height: 60px;
  }
}

@media only screen and (max-width: 988px) {
  html[lang="es"]
    .tools
    .tools-bottom
    .tools-bottom__item:nth-child(5)
    .subtitle,
  html[lang="es"]
    .tools
    .tools-bottom
    .tools-bottom__item:nth-child(6)
    .subtitle {
    min-height: 96px;
  }
}

@media only screen and (max-width: 910px) {
  html[lang="es"]
    .tools
    .tools-bottom
    .tools-bottom__item:nth-child(1)
    .subtitle,
  html[lang="es"]
    .tools
    .tools-bottom
    .tools-bottom__item:nth-child(2)
    .subtitle {
    min-height: 96px;
  }
}

@media only screen and (max-width: 730px) {
  html[lang="es"]
    .tools
    .tools-bottom
    .tools-bottom__item:nth-child(odd)
    .title,
  html[lang="es"]
    .tools
    .tools-bottom
    .tools-bottom__item:nth-child(even)
    .title {
    min-height: initial;
  }
}

@media only screen and (max-width: 730px) {
  html[lang="es"]
    .tools
    .tools-bottom
    .tools-bottom__item:nth-child(odd)
    .subtitle,
  html[lang="es"]
    .tools
    .tools-bottom
    .tools-bottom__item:nth-child(even)
    .subtitle {
    min-height: initial;
  }
}
